
@{
    ViewBag.Title = "PageOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var order = (WebOrderTbRestaurant.Models.BookCustomer)ViewBag.order;
}

@section jsFooter{
    <script type="text/javascript">
        $("#date-order").datepicker({
            closeText: 'Đóng',
            prevText: '&#x3c;Trước',
            nextText: 'Tiếp&#x3e;',
            currentText: 'Hôm nay',
            monthNames: ['Tháng Một', 'Tháng Hai', 'Tháng Ba', 'Tháng Tư', 'Tháng Năm', 'Tháng Sáu',
                'Tháng Bảy', 'Tháng Tám', 'Tháng Chín', 'Tháng Mười', 'Th.Mười Một', 'Th.Mười Hai'],
            monthNamesShort: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6',
                'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
            dayNames: ['Chủ Nhật', 'Thứ Hai', 'Thứ Ba', 'Thứ Tư', 'Thứ Năm', 'Thứ Sáu', 'Thứ Bảy'],
            dayNamesShort: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
            dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
            weekHeader: 'Tu',
            dateFormat: 'dd/mm/yy',
            firstDay: 0,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        });
        $("#date-order").datepicker('setDate', new Date());
    </script>
}

<!-- ****** order ****** -->
<div class="banner">
    <div class="container">
        <div class="row">
            <p>Đặt bàn</p>
        </div>
    </div>
</div>

<div class="bre-crum">
    <div class="container">
        <div class="row">
            <p><a href="/" title=""><i class="fa fa-home"></i>Trang chủ</a> &gt;&gt; Đặt bàn</p>
        </div>
    </div>
</div>

<div class="datban_detail">
    <div class="container">
        <div class="row">
            <div class="title-news-home">
                <p class="p1">Đặt bàn</p>
                <p class="p2">Pool Restaurant</p>

            </div>
            <div class="des_datban">Với hi vọng mang lại cho những bạn học viên có cơ hội tránh những bữa cơm khó ăn của nhà bếp, Nhà hàng bể bơi mang đến cho các bạn những món ăn đáng đồng tiền bát gạo mà các bạn bỏ ra, đảm bảo ngon, bổ, rẻ. Xin kính mời. ^^</div>
            <div class="order">
                @using (Html.BeginForm("BookTable", "Order", FormMethod.Post))
                {
                    <div class="col-sm-4 col-md-3 fullname">
                        <input type="text" class="form-control" name="name" placeholder="Họ và tên *" required="required" />
                        <input type="text" id="date-order" name="date" class="form-control datepicker" value="@order.BookDate" readonly="readonly" style="text-align:center;">

                    </div>

                    <div class="col-sm-4 col-md-3 fullname">
                        <input type="text" name="sodt" class="form-control" placeholder="Số điện thoại *">
                        <input type="text" name="timeBook" class="form-control AtTime" readonly="readonly" value="@order.Time">

                    </div>
                    <div class="col-sm-4 col-md-3 fullname">
                        <input type="email" name="email" class="form-control" placeholder="Email" value="" required="required">
                        <input type="text" name="quantity" class="form-control" placeholder="Số lượng khách" value="@order.Quantity">
                    </div>
                    <div class="col-sm-4 col-md-3 fullname">
                        <textarea name="noidung" placeholder="Nội dung" cols="34" class="form-area" rows="4"></textarea>
                        <button class="btn btn-warning" style="width: 200px; float:right;">Đặt bàn</button>
                    </div>

                }
                    
            </div>
        </div>
    </div>

</div>


